<div id="about" ng-controller="SliderController">
     <form id="slide-form" ng-submit="submit()">
     <div class="container">
        <div class="center-block head">
          <div class="col-lg-12 col-md-12 col-xs-12">
         <h1 class="d-grey">Food Images</h1>
           <hr class="head-border-grey">
        </div>
        </div>
           <div class="center-block head hide" id="picture-frame">
            <ul>
              <li>
                <img height="700" width="800" ng-src="{{imageurl}}" id="image-slider" name="imageurl" ng-model="imageurl">
              </li>
            </ul>
           </div>
           <div class="center-block head">
           <input class="center-block head" type="submit" id="submit" id="slide-show" value="Slide show">
        </div>

      </div>
      <form>
    </div>
