/*@font-face {
    font-family: 'yesterdays_mealregular';
    src: url('YESTERDAYSMEAL-webfont.eot');
    src: url('YESTERDAYSMEAL-webfont.eot?#iefix') format('embedded-opentype'),
         url('YESTERDAYSMEAL-webfont.woff') format('woff'),
         url('YESTERDAYSMEAL-webfont.ttf') format('truetype'),
         url('YESTERDAYSMEAL-webfont.svg#yesterdays_mealregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
@font-face {
    font-family: 'flux_architectregular';
    src: url('../fonts/Flux_Architect_Regular-webfont.eot');
    src: url('../fonts/Flux_Architect_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Flux_Architect_Regular-webfont.woff') format('woff'),
         url('../fonts/Flux_Architect_Regular-webfont.ttf') format('truetype'),
         url('../fonts/Flux_Architect_Regular-webfont.svg#flux_architectregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
		font-family: 'flux_architectregular';
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
iframe{
  width: 100%;
  height: 100%;
}
.picture-show{
  width: 100%;
  height: 100%;
}
.background_body{
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: 800px 400px;
}
.navbar-inverse {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-custom {
  color: #0B6121;
  font-size: 20px;
}
.textCustom {
	padding-top: 200px;
}
.btn-try {
	color: #D8D8D8;
	padding-top: 20px;
}
#slogan h1{
	background-color: black;
  background: rgba(0, 0, 0, 0.7)!important;
  color: #D2D2D2;
  font-size: 60px
}
#slogan p{
  background-color: black;
  background: rgba(0, 0, 0, 0.7)!important;
  color: #D2D2D2;
  font-size: 25px 
}
.btn-xlarge {
	margin-top: 50px;
  padding: 18px 28px;
  font-size: 28px; //change this to your desired size
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}
.navbar-brand{
  padding: 8px 8px;
  margin-right: 20px;
}
.panel {
  background: none;
  background: rgba(0, 0, 0, 0.1)!important;
}
.panel-body {
  color: #E6E6E6;
  z-index: 99;
}
.list-group{
  color: #B40404;
  z-index: 99;
  background: none;
  background: rgba(0, 0, 0, 0.7)!important;
}
.list-group a{
  color: #E6E6E6;
  z-index: 99;
}
.list-group-item { 
  background: none;
  background: rgba(0, 0, 0, 0.7)!important;
}
.fa {
  color: #E6E6E6
 }
